html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.footer {
  height: 300px;
  display: flex;
  background-color: black;
  margin: auto;
}
.grid {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin-left: 200px;
}
.box {
  margin-top: 80px;
  width: 300px;
  margin-left: -193px;
}
h4 {
  color: white;
}
.contact {
  display: flex;
  font-size: 20px;
  padding-right: 30px;
}
.barlv {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.img {
  display: flex;
  justify-content: space-evenly;
}
.a {
  width: 100px;
  height: 100px;
}
b {
  width: 100px;
  height: 100px;
}
c {
  width: 100px;
  height: 100px;
}
d {
  width: 100px;
  height: 100px;
}
e {
  width: 100px;
  height: 100px;
}
f {
  width: 100px;
  height: 100px;
}
.logo {
  width: 100%;
}
input {
  width: 250px;
  height: 25px;
  margin-bottom: 10px;
}
textarea {
  width: 250px;
  height: 100px;
}
.button {
  width: 80px;
  background-color: yellow;
  border-radius: 12px;
}
body {
  background-image: url("./Assets/silhouette-photography-of-man-standing-beside-road-with-2403248.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#mastercontainer {
  width: 1200px;
  margin: auto;
  position: relative;
  background-color: black;
}

.section1 {
  display: flex;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  opacity: 0.8;
  width: 1200px;
  top: 0px;
  z-index: 99;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

.mainphoto {
  width: 1200px;
}

.header img {
  width: 12%;
}

.section2 {
  width: 1200px;
}

.iconmonster1 {
  display: block;
  margin: 20px auto;
}

.section2 h1 {
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 55px;
  font-size: 48px;
}

.logomap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
}

iframe {
  border: solid white 15px;
}

.locationlogo img {
  width: 1100px;
}

#box {
  display: flex;
}
.imgpartyplan {
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
}
.form {
  padding-left: 58px;
  margin-left: 20px;
}
.section4 h1 {
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 55px;
  font-size: 48px;
}

.appcontainer h3,
.entcontainer h3,
.desscontainer h3 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
}

.itemname {
  font-size: 24px;
}

.item {
  border: 1px solid white;
  margin: 5px;
  height: 190px;
}

h6 {
  font-size: 16px;
}
.party input {
  width: 345px;
  height: 50px;
}
#button {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  background-color: yellow;
}
.section5 {
  width: 100%;
  height: 700px;
  position: relative;
  left: 75px;
}
.pics {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
.opacity {
  opacity: 1;
}
.pics img {
  min-width: 100%;
  min-height: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: #1c2100;
}
.current {
  z-index: 2;
  transition-timing-function: ease-in-out;
}

.section4 {
  margin-top: 40px;
}
#menu {
  display: flex;
}
.appetizer {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.entrees {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dessert {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section4 header {
  font-size: 40px;
}

.atmos {
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 55px;
  font-size: 48px;
}

.section4 h5 {
  font-size: 25px;
}
.section6 {
}
h5 {
  color: white;
}
h2 {
  color: white;
  font-size: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
}
.contact img {
  width: 50px;
  height: 50px;
  display: flex;
  margin-top: 228px;
  margin-right: 5px;
}
.socialmedia {
  display: flex;
  margin-top: -155px;
}
.title {
  color: white;
}
.price {
  color: white;
}
h3 {
  color: white;
}
.section4 p {
  color: white;
}
.beef {
  border: dotted 1px white;
}
h5 {
  font-size: 25px;
}

.plan {
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 55px;
  font-size: 48px;
}

.section6 img {
  margin-left: 15px;
}

.form h6 {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-right: 35px;
}
